@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header .navbar {
  height: 15vh;
  z-index: 999;
  padding-top: 0 !important;
  background-color: black !important; }
  header .navbar .menu-opciones {
    background-color: black !important; }

header .bgBlack {
  background-color: black;
  color: whitesmoke; }

header .colorNavBar {
  color: aliceblue; }

.container-principal {
  background-image: url("../assets/images/maderita.jpeg");
  padding-bottom: 1rem; }

.container-secundario {
  background-image: url("../assets/images/maderita.jpeg");
  padding-bottom: 1rem;
  height: 100vh; }

main {
  font-family: 'DM Sans', sans-serif; }
  main .div-principal {
    position: absolute;
    background-image: url("/assets/images/frente-ummu.png");
    filter: brightness(40%);
    background-size: cover;
    height: 89vh !important;
    width: 100%; }
  main .main-text-container {
    height: 89vh !important; }
  main .main-title {
    color: #dee2e6;
    font-family: 'DM Sans', sans-serif;
    font-size: 3em; }
  main .main-title:hover {
    color: white;
    transition: .5s; }
  main .main-subtitle {
    color: #dee2e6;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.1em; }
  main .main-contacto {
    background-image: url("/assets/images/maderita.jpeg");
    position: absolute;
    height: 89vh !important;
    width: 100vw; }
  main .box-contacto {
    background-color: rgba(154, 140, 152, 0.5);
    border-radius: .5em;
    margin: 2em 2em 0 2em; }
  main .contacto-first-col {
    font-family: 'DM Sans', sans-serif;
    margin: 2em 0em 2em 2em;
    color: white; }
  main .contacto-second-col {
    margin: 2em 0em 2em 2em; }
  main .contacto-text-input {
    width: 60% !important; }
  main .main-div-text {
    position: relative;
    top: 60%;
    left: 5%; }
  main .columna {
    font-family: sans-serif;
    color: whitesmoke;
    align-items: center;
    background-color: rgba(154, 140, 152, 0.5);
    margin: 0px 2em 0px 2em;
    padding: 0px 0px 0px 3em;
    border-radius: 2em; }
  main .mapa {
    font-family: sans-serif;
    color: whitesmoke;
    align-items: center;
    margin-right: 5rem;
    margin-left: 5rem;
    padding: 3rem 0 3rem 0;
    border-radius: 2em; }
  main .mapa-texto {
    background-color: rgba(154, 140, 152, 0.5);
    margin-bottom: 20rem;
    padding-top: 4rem;
    padding-left: 2rem;
    border-radius: 2rem; }
  main .mapa-google {
    border-radius: 1rem; }
  main .featurette-divider {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: bisque; }
  main .imagenColumna {
    width: 400px;
    height: 400px;
    border-radius: 1em; }
  main .texto {
    color: whitesmoke;
    padding: 2rem 2rem 0rem 2rem; }
  main .Formulario {
    margin-top: 1rem; }
  main .ImagenQS {
    margin-top: 3rem;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px; }
  main .ImagenP {
    height: auto;
    width: auto;
    max-width: 600px;
    max-height: 600px;
    margin-bottom: 1rem; }

footer .footer-contacto {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  text-align: center; }

footer .footer-todos {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-align: center; }

footer .pieDivTexto {
  color: whitesmoke;
  padding-bottom: 0.25rem; }

footer .pieDivWhatsappImagen {
  display: inline-block;
  height: 2rem;
  width: 2rem; }

footer .pieDivInstagramImagen {
  display: inline-block;
  height: 2rem;
  width: 2rem; }

footer .pieDivFacebookImagen {
  display: inline-block;
  height: 2rem;
  width: 2rem; }

/*
.cabeceraPrincipal{
    padding: 0; 
    text-align: center;
}
.cabeceraPrincipalTitulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    display: inline-block;
    font-size: 4rem;
}
.cabeceraPrincipalCarritoImagen{
    height: 3rem;
    width: 3rem;
    display: inline-block;
}
.cabeceraPrincipalLogoImagen{
    height: 6rem;
    width: 6rem;
    display: inline-block;

}
header nav a{    
    color: whitesmoke;
}
.cabeceraNav{
    text-align: center;
    font-size: 1.25rem;
    margin-top: 2rem;
    padding-bottom: 0.5rem;
}
.cabeceraNavDentro{
    margin-left: 2rem;
}
.principal{
    background-color: rgb(139, 79, 23);
    padding-top: 1rem;
}
.principalTitulo{
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;

}

.principalArticulo{
    padding: 2rem;
    text-align: center;
}
.principalArticuloTitulo{
    margin-bottom: 0.5rem;
}
.principalArticuloImagen{
    margin-bottom: 0.5rem;
}

*/
