*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bgBlack{
    background-color: black;
    color: whitesmoke;
}

.ubicacionCarrusel{
    text-align: center;
}

.divImage{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    filter:brightness(30%);
}

.frenteUmmu{
    filter: brightness(40%);
}

.cabeceraNav{
    background-color: black;
}

.colorNavBar{
    color: aliceblue;
}

.cabeceraPrincipal{
    padding: 0; 
    text-align: center;
}
.cabeceraPrincipalTitulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    display: inline-block;
    font-size: 4rem;
}
.cabeceraPrincipalCarritoImagen{
    height: 3rem;
    width: 3rem;
    display: inline-block;
}
.cabeceraPrincipalLogoImagen{
    height: 6rem;
    width: 6rem;
    display: inline-block;

}
header nav a{    
    color: whitesmoke;
}
.cabeceraNav{
    text-align: center;
    font-size: 1.25rem;
    margin-top: 2rem;
    padding-bottom: 0.5rem;
}
.cabeceraNavDentro{
    margin-left: 2rem;
}

.principal{
    background-color: rgb(139, 79, 23);
    padding-top: 1rem;
}
.principalTitulo{
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;

}

.principalArticulo{
    padding: 2rem;
    text-align: center;
}
.principalArticuloTitulo{
    margin-bottom: 0.5rem;
}
.principalArticuloImagen{
    margin-bottom: 0.5rem;
}

.featurette-divider{
    margin: 5rem 0;
    color: bisque;
}
.columna{
    color: whitesmoke;
    align-items: center;
}

.imagenColumna{
    width: 400px;
    height: 400px;
}

footer{
    background-color: black;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    text-align: center;
}
.pieDivTexto{
    color: whitesmoke;
    padding-bottom: 1rem;
}

.pieDivWhatsappImagen{
   display: inline-block;
   height: 2rem;
   width: 2rem;}
.pieDivInstagramImagen{
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.pieDivFacebookImagen{
display: inline-block;
   height: 2rem;
   width: 2rem;
}
